<!doctype html>
<html>
<head>
    <title>Barista App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Cashier</h1>
  </header>
  <section>

    <!-- creates documents -->
    <form class="" action="/order" method="post">
      <input type="text" name="order" placeholder="type in order">
      <input type="text" name="custName" placeholder="type in customer name">
      <button type="submit" name="button">Submit Order</button>
    </form>

    <!-- renders orders list -->
    <ul>
      <% for(let i=0; i< orders.length; i++) {%>
      <li>
        <span><%= orders[i].order %></span>
        <span><%= orders[i].custName %></span>
        <span><i class="far fa-times-circle"></i></span>
      </li>
    <%}%>
    </ul>
  </section>
</body>
</html>
