<!doctype html>
<html>
<head>
    <title>Barista App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Cashier</h1>
  </header>
  <section>
    <a href="/login"><i class="fas fa-sign-in-alt"></i></a>

    <!-- creates documents -->
    <form class="" action="/orders" method="post">
      <input type="text" name="order" placeholder="type in order">
      <input type="text" name="custName" placeholder="type in customer name">
      <button type="submit" name="button">Submit Order</button>
    </form>

    <!-- renders orders list -->
    <ul>
      <% for(let i=0; i< orders.length; i++) {%>
      <li>
        <span><%= orders[i].order %></span>
        <span><%= orders[i].custName %></span>
        <span><i class="far fa-times-circle"></i></span>
      </li>
    <%}%>
    </ul>
  </section>
</body>
</html>
